boto3==1.16.16
botocore==1.19.16
coloredlogs==14.0
executor==23.1
fasteners==0.15
humanfriendly==8.2
jmespath==0.10.0
monotonic==1.5
naturalsort==1.5.1
property-manager==3.0
python-dateutil==2.8.1
rotate-backups==8.1
s3transfer==0.3.3
simpleeval==0.9.10
six==1.15.0
update-dotdee==6.0
urllib3==1.26.5
verboselogs==1.7
